/* Reset */
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style-type: none;}  
a{text-decoration: none;color: inherit;}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font: 16px/1.5 sans-serif;
  /*16px/1.5 ->글자크기의 1.5배의 줄간격설정  */
}

button{
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: transparent;
}
.open-modal{
  font-weight: bold;
  background-color: royalblue;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  margin-bottom: 16px;
}

.modal{  /* 전체 불투명 검정색창 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background-color: rgba(0,0,0,0.8);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.35s ease-in;
}
.modal-dialog{
  background-color: #fff;
  max-width: 600px;
  max-height: 80vh;
  border-radius: 10px;
  /* overflow: auto;  */
  cursor: default;  /* 마우스커서모양 기본으로 설정 */
}
.modal-dialog > *{padding: 16px;}
.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
}
.modal-content{
  max-width: 600px;
  max-height: 60vh;
  text-align: center;
  background-color: #fff;
  overflow-y: auto;
}
.close-modal{font-size: 1.5rem;}
.btn-guide {
  background-color: #175fa2;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  display: block;
  margin-top: 15px;
}
.btn-group{text-align: center;}

/* is-visible클래스를 붙이면 */
.modal.is-visible{
  visibility: visible;
  opacity: 1;
}

/* Animation */
[data-animation] .modal-dialog{
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.5s;
}
[data-animation="slideInOutLeft"].is-visible .modal-dialog{
  opacity: 1;
  transform: none;
  transition-delay: 0.2s;
}
[data-animation="mixInAnimation"].is-visible .modal-dialog{
  opacity: 1;
  animation: mixInAnimations 2s 0.2s linear forwards;
}

@keyframes mixInAnimations{
  0%{transform: translateX(-100%);}
  10%{transform: translateX(0%);}
  20%{transform: rotate(8deg);}
  30%{transform: rotate(-8deg);}
  40%{transform: rotate(6deg);}
  50%{transform: rotate(-6deg);}
  60%{transform: rotate(4deg);}
  70%{transform: rotate(-4deg);}
  80%{transform: rotate(2deg);}
  90%{transform: rotate(-2deg);}
  100%{transform: rotate(0deg);}
}

.modal-content::-webkit-scrollbar {
  width: 10px;
  /* display: none; */
}
.modal-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.modal-content::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* 
::-webkit-scrollbar : 스크롤바 전체
::-webkit-scrollbar-thumb : 스크롤 막대
::-webkit-scrollbar-track : 스크롤바에서 스크롤 막대 제외 부분(스크롤바 배경)
::-webkit-scrollbar-button: 스크롤 바 상 하단 버튼
*/