@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

/* Swiper Plugin */
.swiper {
  width: 100%;
  height: 800px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 하단 인디케이터 수정 */
.swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  width: 50px;
  border-radius: 35px;
  background: #000;
}

/* 좌우버튼 수정 */
.swiper-button-next,
.swiper-button-prev{
  --swiper-navigation-size: 60px;
  color: #fff;
}

/* 좌우버튼의 위치값 수정 */
.swiper-button-next{
  right: 20px !important;
}

.swiper-button-prev{
  left: 20px !important;
}


.swiper-wrapper div.swiper-slide:nth-child(1){background: url(../image/mvisual-1.jpg) no-repeat;}
.swiper-wrapper div.swiper-slide:nth-child(2){background: url(../image/mvisual-2.jpg) no-repeat;}
.swiper-wrapper div.swiper-slide:nth-child(3){background: url(../image/mvisual-3.jpg) no-repeat;}
.swiper-wrapper div.swiper-slide:nth-child(4){background: url(../image/mvisual-4.jpg) no-repeat;}

.description{
  color: #fff;
  text-align: center;
}
.description h3{
  font-size: 52px;
  text-shadow:0 0 10px #000;
  font-family: 'Nanum Myeongjo', serif;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 20px;
}
.description p{
  font-size: 17px;
  line-height: 30px;
}
.description p:nth-of-type(3){
  width:150px;
  height:42px;
  background:rgba(0,0,0,0.3);
  border:1px solid #ccc;
  text-align: center;
  line-height: 42px;
  font-size: 14px;
  margin: 20px auto;
  transition: 0.35s;
}
.description p:nth-of-type(3):hover{background:rgba(0,0,0,0.8);}

.description,
.description * {
  user-select: text;
}
.swiper-slide {
  user-select: text;
}