@import url(reset.css);

/* Page Number */
#tt { 
  position:fixed; 
  z-index:1000; 
  left:0; 
  top:200px; 
  background:red; 
  padding:5px; 
  font-size:100px; 
  color:white; 
}

/* Header */
#header{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.3);
}
#header h1{
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 32px;
}
#header h1 a{color: #fff;}

#gnb{
  position: absolute;
  right: 20px;
  top: 30px;
  display: flex;
}
#gnb li{
  padding: 0 20px;
  color: #fff;
  text-transform: capitalize;
}
#gnb li a.active{ /* 메뉴 현재위치 활성화 */
  color: crimson;
  font-weight: bold;
}

/* Dot Button */
#dot{
  position:fixed; 
  z-index:1000; 
  right:10%; 
  top:50%;
  transform: translateY(-50%);
}
#dot span{
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 20px 0;
  cursor: pointer;
  text-indent: -99999px;
}
#dot span.active{
  display: block;
  width: 10px;
  height: 60px;
  border-radius: 15px;
  background-color: crimson;
  cursor: pointer;
  transition: 0.5s;
}

/* Container */
#container{
  width: 100%;
  color: #fff;
}
.inner{
  width: 1200px;
  margin: auto;
}
#container h2 { 
  font-size:250px; 
  padding-top:70px; 
  font-weight:100; 
  letter-spacing:-10px; 
}

#home{
  height: 100vh;
  background-color: yellowgreen;
}
#about{
  height: 100vh;
  background-color: royalblue;
}
#works{
  height: 100vh;
  background-color: orange;
}

#contact{
  height: 100vh;
  background-color: #333;
}

h2,p{
  opacity: 0;
}